


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component{
  .flex-center{
    @apply flex items-center justify-center
  }
}

@font-face {
  font-family: hero;
  src: url('./assets/BASKiT-Bold.otf')format("truetype");
}


/* Container Styles */
.card{
 box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.skill{
  background-image: radial-gradient(circle,0.5px red,1px transparent);
  background-size:  20px 20px;
}