

html,body{
  overflow-x: hidden
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component{
  .flex-center{
    @apply flex items-center justify-center
  }
}

@font-face {
  font-family: hero;
  src: url('./assets/BASKiT-Bold.otf')format("truetype");
}

@font-face {
  font-family: hero;
  src: url('./assets/Handjet-VariableFont_ELGR,ELSH,wght.ttf');
}

/* Container Styles */
.card{
 box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.skill{
  background-image: radial-gradient(circle,0.5px red,1px transparent);
  background-size:  20px 20px;
}

.ball{
  box-shadow: 0px 0px 50px #fff389;
background-image: radial-gradient(circle at center, #faff76 0%, #ffffff 100%);
}

/* .plat {
  background: linear-gradient(45deg, oklab(76.2% 0.174 -0.046), oklab(72.7% 0.164 0.048), oklab(81.5% 0.064 0.089), oklab(91% -0.137 0.062), oklab(81.5% -0.054 -0.09))
} */
.blob{
  background: linear-gradient(45deg, oklab(76.2% 0.174 -0.046), oklab(80.782% 0.10814 0.02457), oklab(81.5% 0.064 0.089), oklab(91% -0.137 0.062), oklab(81.5% -0.054 -0.09))
}

.cardd {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}